@import "../../variables.scss";

.process {
  overflow: hidden;
  min-height: 25rem;
  min-width: 40rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;

  & > span {
    position: absolute;
    right: 100%;
    height: 3px;
    width: 200px;
    background-color: $gray-dark;
  }
  & > span:nth-child(2) {
    top: 10%;
    animation: line 1s linear infinite;
    animation-delay: -2s;
  }
  & > span:nth-child(1) {
    top: 5%;
    animation: line 1.2s linear infinite;
    animation-delay: -3s;
  }
  & > span:nth-child(3) {
    top: 15%;
    animation: line 0.8s linear infinite;
    animation-delay: -1s;
  }
  & > span:nth-child(4) {
    top: 7%;
    animation: line 1.3s linear infinite;
    animation-delay: -3s;
  }
  & > span:nth-child(5) {
    top: 18%;
    animation: line 0.7s linear infinite;
    animation-delay: -2.4s;
  }
  &__city {
    position: absolute;
    bottom: 0;

    width: 500%;
    left: -500%;
    height: 100px;
    display: inline-block;
    background-repeat: repeat-x;
    animation: city 20s infinite linear forwards;
  }
  & #cloud {
    position: absolute;
    left: 0;
    top: 10%;
    animation: cloud 3s linear infinite;
  }
  & #hipo,
  & #engine {
    animation: fly 0.6s linear infinite;
    position: absolute;
    top: 30%;
  }
  & #hipo {
    left: 20%;
  }
  & #engine {
    left: 35%;
    top: 29%;
  }
  &__smoke {
    position: absolute;
    width: 20px;
    height: 8px;
    display: inline-block;
    top: 29%;
    left: 32%;
    z-index: 20;
    & > span {
      height: 3px;
      width: 10px;
      background-color: $gray-light;
      position: absolute;
      right: 100%;
      z-index: 10;
    }
    & > span:nth-child(2) {
      top: 10%;
      animation: line 1s linear infinite;
      animation-delay: -2s;
    }
    & > span:nth-child(1) {
      top: 5%;
      animation: line 1.2s linear infinite;
      animation-delay: -3s;
    }
    & > span:nth-child(3) {
      top: 15%;
      animation: line 0.8s linear infinite;
      animation-delay: -1s;
    }
    & > span:nth-child(4) {
      top: 7%;
      animation: line 1.3s linear infinite;
      animation-delay: -3s;
    }
    & > span:nth-child(5) {
      top: 18%;
      animation: line 0.7s linear infinite;
      animation-delay: -2.4s;
    }
  }
  &__text {
    position: absolute;
    top: 5%;
    text-transform: uppercase;
  }
}

@keyframes cloud {
  from {
    left: 100%;
  }
  to {
    left: -100%;
  }
}
@keyframes city {
  100% {
    transform: translateX(2000px);
  }
}

@keyframes line {
  0% {
    left: 200%;
  }
  100% {
    left: -200%;
    opacity: 0;
  }
}

@keyframes fly {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -3px) rotate(-1deg);
  }
  20% {
    transform: translate(-2px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 3px) rotate(-1deg);
  }
  60% {
    transform: translate(-1px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-2px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
