* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  font-size: 10px; }

body {
  width: 100vw;
  height: 100vh; }

.App {
  width: 100vw;
  height: 100vh; }

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0c0c0c;
  width: 100%;
  height: 100%;
  color: peru; }
  .loader #logopath {
    stroke-dasharray: 130;
    stroke-dashoffset: 130;
    animation: loader-animate 2s ease forwards infinite alternate-reverse; }
  .loader p {
    opacity: 0;
    animation: text-animate 2s ease forwards infinite alternate-reverse; }

@keyframes loader-animate {
  to {
    stroke-dashoffset: 0; } }

@keyframes text-animate {
  to {
    opacity: 1; } }

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .main p {
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-size: 25px;
    font-weight: bold; }

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0c0c0c;
  padding: 1rem;
  width: 100%;
  height: 100%; }
  .content header {
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    margin: 1rem; }
  .content main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .content main h2 {
      color: white;
      margin: 1rem;
      text-transform: uppercase;
      font-size: 30px;
      font-family: azo-sans-web, sans-serif;
      font-style: normal; }
      @media screen and (max-width: 540px) {
        .content main h2 {
          font-size: 20px; } }
      @media screen and (min-width: 1000px) {
        .content main h2 {
          font-size: 45px; } }
    .content main p {
      color: #e31c37;
      line-height: 1.5; }
    .content main span {
      color: white; }

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  margin: 5rem;
  margin-top: 10rem; }
  .button:hover .button__out {
    width: 12rem;
    height: 12rem;
    border: 1px solid #e31c37; }
  .button:hover .button__in {
    width: 10rem;
    height: 10rem;
    background-color: #e31c37;
    color: #0c0c0c;
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: initial; }
    .button:hover .button__in span {
      transform: rotate(0deg); }
  .button__out {
    background-color: #0c0c0c;
    border: 1px solid #474350;
    width: 7rem;
    height: 7rem;
    display: inline-block;
    border-radius: 6px;
    transition: all 1.2s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; }
  .button__in {
    background-color: #474350;
    border-radius: 6px;
    width: 7rem;
    height: 7rem;
    transform-origin: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: 20;
    transition: all 0.8s ease; }
    .button__in span {
      transform: rotate(-45deg);
      text-rendering: geometricPrecision;
      letter-spacing: 1px;
      text-transform: uppercase; }

.auth {
  width: 100%;
  height: 100%;
  background-color: #0c0c0c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  @media screen and (min-width: 800px) {
    .auth {
      flex-direction: row; } }

.form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .form .hide > input,
  .form .hide label,
  .form .hide button,
  .form .hide .sign {
    animation: disappear 0.6s linear forwards; }
  .form form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 1rem;
    color: white;
    font-size: 2rem;
    border: 1px solid #474350;
    border-radius: 3px;
    transition: all 0.5s ease; }
    @media screen and (min-width: 1000px) {
      .form form {
        width: 40rem; } }
    @media screen and (max-width: 960px) {
      .form form {
        width: 50%; } }
    @media screen and (max-width: 800px) {
      .form form {
        width: 60%; } }
    @media screen and (max-width: 540px) {
      .form form {
        width: 80%; } }
    @media screen and (max-width: 480px) {
      .form form {
        width: 90%;
        min-width: 20rem; } }
    .form form > input {
      padding: 1rem 2rem;
      border-radius: 6px;
      border: none;
      outline: none;
      margin-top: 2rem;
      width: 80%;
      min-width: 80%; }
    .form form > .error {
      border: 2px solid #e31c37;
      color: #e31c37; }
    .form form > small {
      color: #9a9a9a; }
      .form form > small > em {
        color: #e31c37;
        text-decoration: none; }
    .form form > label {
      margin-top: 1rem; }
    .form form > button {
      padding: 1rem 2rem;
      margin: 2rem;
      border-radius: 6px;
      border: none;
      text-transform: capitalize;
      letter-spacing: 1px; }
      .form form > button:hover {
        background-color: #474350;
        color: white; }
      .form form > button:active {
        transform: translateY(3px);
        outline: none; }
    .form form span {
      font-family: museo-slab, serif;
      font-style: normal;
      color: #9a9a9a; }
    .form form em {
      text-decoration: underline;
      color: #e31c37;
      cursor: pointer; }
  .form h2 {
    color: white;
    font-size: 3rem;
    letter-spacing: 1.5px;
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    margin: 2rem; }

@keyframes disappear {
  100% {
    transform: translateX(-15px);
    opacity: 0; } }

.process {
  overflow: hidden;
  min-height: 25rem;
  min-width: 40rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative; }
  .process > span {
    position: absolute;
    right: 100%;
    height: 3px;
    width: 200px;
    background-color: #474350; }
  .process > span:nth-child(2) {
    top: 10%;
    animation: line 1s linear infinite;
    animation-delay: -2s; }
  .process > span:nth-child(1) {
    top: 5%;
    animation: line 1.2s linear infinite;
    animation-delay: -3s; }
  .process > span:nth-child(3) {
    top: 15%;
    animation: line 0.8s linear infinite;
    animation-delay: -1s; }
  .process > span:nth-child(4) {
    top: 7%;
    animation: line 1.3s linear infinite;
    animation-delay: -3s; }
  .process > span:nth-child(5) {
    top: 18%;
    animation: line 0.7s linear infinite;
    animation-delay: -2.4s; }
  .process__city {
    position: absolute;
    bottom: 0;
    width: 500%;
    left: -500%;
    height: 100px;
    display: inline-block;
    background-repeat: repeat-x;
    animation: city 20s infinite linear forwards; }
  .process #cloud {
    position: absolute;
    left: 0;
    top: 10%;
    animation: cloud 3s linear infinite; }
  .process #hipo,
  .process #engine {
    animation: fly 0.6s linear infinite;
    position: absolute;
    top: 30%; }
  .process #hipo {
    left: 20%; }
  .process #engine {
    left: 35%;
    top: 29%; }
  .process__smoke {
    position: absolute;
    width: 20px;
    height: 8px;
    display: inline-block;
    top: 29%;
    left: 32%;
    z-index: 20; }
    .process__smoke > span {
      height: 3px;
      width: 10px;
      background-color: #9a9a9a;
      position: absolute;
      right: 100%;
      z-index: 10; }
    .process__smoke > span:nth-child(2) {
      top: 10%;
      animation: line 1s linear infinite;
      animation-delay: -2s; }
    .process__smoke > span:nth-child(1) {
      top: 5%;
      animation: line 1.2s linear infinite;
      animation-delay: -3s; }
    .process__smoke > span:nth-child(3) {
      top: 15%;
      animation: line 0.8s linear infinite;
      animation-delay: -1s; }
    .process__smoke > span:nth-child(4) {
      top: 7%;
      animation: line 1.3s linear infinite;
      animation-delay: -3s; }
    .process__smoke > span:nth-child(5) {
      top: 18%;
      animation: line 0.7s linear infinite;
      animation-delay: -2.4s; }
  .process__text {
    position: absolute;
    top: 5%;
    text-transform: uppercase; }

@keyframes cloud {
  from {
    left: 100%; }
  to {
    left: -100%; } }

@keyframes city {
  100% {
    transform: translateX(2000px); } }

@keyframes line {
  0% {
    left: 200%; }
  100% {
    left: -200%;
    opacity: 0; } }

@keyframes fly {
  0% {
    transform: translate(2px, 1px) rotate(0deg); }
  10% {
    transform: translate(-1px, -3px) rotate(-1deg); }
  20% {
    transform: translate(-2px, 0px) rotate(1deg); }
  30% {
    transform: translate(1px, 2px) rotate(0deg); }
  40% {
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    transform: translate(-1px, 3px) rotate(-1deg); }
  60% {
    transform: translate(-1px, 1px) rotate(0deg); }
  70% {
    transform: translate(3px, 1px) rotate(-1deg); }
  80% {
    transform: translate(-2px, -1px) rotate(1deg); }
  90% {
    transform: translate(2px, 1px) rotate(0deg); }
  100% {
    transform: translate(1px, -2px) rotate(-1deg); } }

.step1 {
  background-color: #0c0c0c;
  width: 100%;
  height: 200%;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  padding-bottom: 15rem;
  overflow-y: scroll; }
  .step1 h2 {
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    margin: 2rem; }

.positions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: museo-slab, serif;
  font-style: normal; }
  @media screen and (max-width: 500px) {
    .positions {
      width: 80%; } }
  @media screen and (max-width: 800px) and (min-width: 500px) {
    .positions {
      width: 70%; } }
  @media screen and (min-width: 800px) and (max-width: 1000px) {
    .positions {
      width: 60%; } }
  @media screen and (min-width: 1000px) {
    .positions {
      width: 40%; } }
  .positions__title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    background-color: #9a9a9a;
    opacity: 0.85;
    padding: 0.5rem 1rem; }
    .positions__title span:nth-child(1) {
      display: block;
      flex: 1; }
    .positions__title span:nth-child(2) {
      display: block;
      flex: 2; }
  .positions__table {
    width: 100%; }
    .positions__table__row {
      padding: 0.5rem 1rem;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row; }
      .positions__table__row span:nth-child(1) {
        display: block;
        flex: 1; }
      .positions__table__row span:nth-child(2) {
        display: block;
        flex: 2; }

.periods {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: museo-slab, serif;
  font-style: normal; }
  @media screen and (max-width: 540px) {
    .periods {
      font-size: 1.5rem; } }
  .periods__element {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #9a9a9a;
    padding: 1rem;
    border-radius: 15px; }
    .periods__element > div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%; }
      .periods__element > div > span:nth-child(1) {
        text-transform: uppercase;
        color: #474350;
        margin: 1rem; }
      .periods__element > div > button {
        padding: 0.8rem 1rem;
        border-radius: 10px;
        width: 80%;
        background-color: #e31c37;
        border: none;
        outline: none;
        letter-spacing: 2px;
        margin: 1rem; }
        .periods__element > div > button:hover {
          color: white; }
        .periods__element > div > button:active {
          transform: translateY(3px); }
    .periods__element-position {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .periods__element-position > span {
        margin-left: 15px; }

.application {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #0c0c0c;
  color: white;
  padding: 2rem; }
  .application h2 {
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-size: 3rem;
    margin-top: 2rem; }
  .application__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    width: 80%;
    height: auto;
    font-family: museo-slab, serif;
    font-style: normal; }
    @media screen and (min-width: 580px) and (max-width: 800px) {
      .application__form {
        width: 60%; } }
    @media screen and (min-width: 800px) and (max-width: 1000px) {
      .application__form {
        width: 40%; } }
    @media screen and (min-width: 1000px) {
      .application__form {
        width: 30%;
        font-size: 2.2rem; } }
    .application__form > label {
      text-transform: uppercase;
      color: #9a9a9a; }
    .application__form > input {
      width: 90%;
      padding: 0.5rem 1rem;
      border-radius: 3px;
      border: none;
      outline: none;
      border: 1px solid #9a9a9a;
      margin: 1rem; }
      @media screen and (min-width: 580px) and (max-width: 800px) {
        .application__form > input {
          padding: 1rem; } }
      @media screen and (min-width: 800px) and (max-width: 1000px) {
        .application__form > input {
          padding: 1.3rem; } }
      @media screen and (min-width: 1000px) {
        .application__form > input {
          padding: 1rem;
          font-size: 2rem; } }
    .application__form > p {
      margin: 1.5rem; }
    .application__form > textarea {
      margin: 1rem;
      border: none;
      border-radius: 5px;
      padding: 2rem; }
      @media screen and (min-width: 1000px) {
        .application__form > textarea {
          font-size: 1.8rem; } }
      .application__form > textarea:focus {
        outline: none; }
    .application__form > button {
      margin: 2rem;
      border: none;
      outline: none;
      background-color: #e31c37;
      font-size: 2rem;
      padding: 0.7rem 5rem;
      border-radius: 5px; }
      .application__form > button:hover {
        color: white; }
      .application__form > button:active {
        transform: translateY(3px); }
    .application__form > small {
      color: #e31c37; }
    .application__form > .error {
      background-color: rgba(231, 161, 161, 0.829); }
