* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}
.App {
  width: 100vw;
  height: 100vh;
}
@import "./variables.scss";
@import "./components/loader/loader.scss";
@import "./pages/main/main.scss";
@import "./components/content/content.scss";
