* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 10px;
}
body {
  width: 100vw;
  height: 100vh;
}
.App {
  width: 100vw;
  height: 100vh;
}
@import "./variables.scss";
@import "./components/loader/loader.scss";
@import "./pages/main/main.scss";
@import "./components/content/content.scss";
@import "./components/button/button.scss";
@import "./pages/auth/auth.scss";
@import "./components/form/form.scss";
@import "./components/process/process.scss";
@import "./pages/step1/step-1.scss";
@import "./components/positions/positions.scss";
@import "./components/periods/periods.scss";
@import "./pages/step2/step-2.scss";
@import "./pages/step3/step-3.scss";
@import "./pages/step4/step-4.scss";
@import "./components/modal/modal.scss";
